{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <article>
        <h2>{{ post.title }}</h2>
        <p class="meta">
            Posted on {{ post.created_date|date:"F d, Y" }}
            {% if post.category %}
                in {{ post.category.name }}
            {% endif %}
        </p>
        <div class="content">
            {{ post.content|linebreaks }}
        </div>
    </article>
    
    <div class="post-actions">
        <a href="{% url 'post_create'%}" class="btn btn-success">New Post</a>
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger">Delete</a>
    </div>
    
    <p><a href="{% url 'post_list' %}">Back to all posts</a></p>
{% endblock %}